<%- include("partials/header.ejs") %>
<ul>
<% locals.posts.forEach(post => { %>

        <li><a href = "/post/<%= post._id %>"> <%= post.title %></li>
        <li><%= post.date %></li>
        <li><%= post.content %></li>
        <% if (post.imageUrl) { %>
         <img src= <%= post.imageUrl %> >
        <% } %>


        <form action = "/newpost" action = "GET">
                <button>create new post</button>
        </form>

<% }) %>

</ul>

<%- include("partials/footer.ejs") %>