<%- include("partials/header.ejs") %>

<main class="singlePostContainer">
    
    <h1 class="postTitle"><%= locals.post.title %></h1>
    <div class="postMeta">Published on: <%= locals.post.date %></div>
    
    <% if (locals.post.imageUrl) { %>
        <img src="<%= locals.post.imageUrl %>" class="postImage"> 
    <% } %>

    <div class="postContent"><%= locals.post.content %></div>

</main>

<%- include("partials/footer.ejs") %>