<%- include("partials/header.ejs") %>

<main class="postContainer">
    <h1 class="pageTitle">All Blog Posts</h1>
    
    <ul class="postList">
        <% locals.posts.forEach(post => { %>
            <li>
                <a class="postListTitle" href="/post/<%= post._id %>"><%= post.title %></a>
                <span class="postDate"><%= post.date %></span>
            </li>
        <% }) %>
    </ul>

    <div class="actionButtons">
        <form action="/newpost" method="GET">
            <button class="btn btn-primary">Create New Post</button>
        </form>
    </div> </main>

<%- include("partials/footer.ejs") %>